/* ========================= */
/* 🎨 CSS переменные */
/* ========================= */
:root {
  --font-family-Unbounded: "Unbounded";
  --font-family-Unbounded-reg: "UnboundedReg";
  --font-family-InterTight-reg: "InterTightReg";
}
